:root {
    --vermelho: #E92438;
    --preto: #141414;
    --branco: #FFFFFF;
    --amarelo: #F1B104;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

    *:focus {
        outline: 0 !important;
    }

html,
body {
    height: 100%
}

body {
    line-height: 1.43 !important;
    background: var(--vermelho);
    -webkit-font-smoothing: antialiased;
}

body,
input,
button {
    color: var(--branco);
    font: 14px 'Montserrat', sans-serif;
}

a {
    text-decoration: none !important;
}

p {
    margin-bottom: 0rem;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

hr {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 1.3rem;
}

.login-button {
    padding: 15px 20px;
    border-radius: 999px;
    background-color: transparent;
    border: 4px solid var(--branco);
    color: var(--branco);
}

.burguer {
    margin-top: -50px;
    margin-left: 30px;
    margin-bottom: -40px;
    width: 80%;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inputs {
    width: 60%;
    display: flex;
    flex-direction: column;
}

    .inputs label {
        display: inherit;
        justify-self: flex-start;
    }

    .inputs input {
        color: var(--preto);
        width: 65%;
        border-radius: 999px;
        padding: 16px;
        border-width: 0px;
        margin-bottom: 10px;
    }

/* .field {
    width: 60%;
} */

section {
    width: 80%;
}



.botao-entrar {
    padding: 12px 20px;
    border-radius: 999px;
    background-color: var(--amarelo);
    border: 3px solid var(--amarelo);
    color: var(--preto);
}
