<!-- Page setup -->
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/Account/_Layout.cshtml";
}

@model LoginViewModel

@section navMessage{
    <a class="title-account" asp-area="" asp-controller="Account" asp-action="Register" style="color:white">Não tem uma conta?</a>
    <a class="title-account login-button" asp-area="" asp-controller="Account" asp-action="Register">Registrar-se</a>
}

<!-- Page content -->


<div style="width:80%; margin:auto" class="container-row">

    <section class="img-login section-container">
        <img class="burger" src="/images/Hamburger-pana (1).svg" alt="burguer">
    </section>

    <form asp-controller="Account" asp-action="Login" method="post" role="form" class="inputs">

        <h1>
            Falta pouco para matar sua fome!
        </h1>

        <input type="hidden" asp-for="ReturnUrl" />

        <div class="field">
            <input asp-for="Email" id="email" placeholder="Email" />
            <span asp-validation-for="Email" class=""></span>
        </div>

        <div class="field">
            <input asp-for="Password" class="" placeholder="Senha" />
            <span asp-validation-for="Password" class=""></span>
        </div>

        <div class="botao">
            <input type="submit" class="botao-entrar" value="Entrar" />
        </div>
    </form>


</div>
