<section>
    <img class="burger" src="~/media/Hamburger-pana (1).svg" width="75%" alt="burguer">
</section>

<section class="inputs">
    <div class="field">
        <label for="email">E-mail</label>
        <input id="email" name="email" type="email">
    </div>

    <div class="field">
        <label for="senha">Senha</label>
        <input id="senha" name="senha" type="password">
    </div>

    <a href="/" class="botao-entrar">Entrar</a>
</section>
