<!-- page setup -->
@model RegisterViewModel

@{
    ViewData["Title"] = "Registro";
    Layout = "~/Views/Shared/Account/_Layout.cshtml";
}

@section navMessage{
    <span>Já tem conta?</span>
    <a asp-controller="Account" asp-action="Login" class="login-button">Faça login</a>
}

<!-- page content -->
<section class="section-container">
    <img class="img-mulher" src="/images/refreshing.svg" alt="mulher bebendo suquinho">
</section>

<form asp-controller="Account" asp-action="Register" method="post" class="inputs" role="form">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


    <div class="field">
        <label asp-for="UserName" class=""></label>
        <span asp-validation-for="UserName" class=""></span>
        <input asp-for="UserName" class="" />
    </div>

    <div class="field">
        <label asp-for="Email" class=""></label>
        <span asp-validation-for="Email" class=""></span>
        <input asp-for="Email" class="" />
    </div>

    <div class="field">
        <label asp-for="Cpf" class=""></label>
        <span asp-validation-for="Cpf" class=""></span>
        <input asp-for="Cpf" class="" />
    </div>

    <div class="field">
        <label asp-for="Telefone" class=""></label>
        <span asp-validation-for="Telefone" class=""></span>
        <input asp-for="Telefone" class="" />
    </div>

    <div class="field">
        <label asp-for="Password" class=""></label>
        <span asp-validation-for="Password" class=""></span>
        <input asp-for="Password" class="" />
    </div>

    <div class="field">
        <label asp-for="Confirme_Password" class=""></label>
        <span asp-validation-for="Confirme_Password" class=""></span>
        <input asp-for="Confirme_Password" class="" />
    </div>

    <div class="submit-input">
        <input type="submit" class="botao-cadastrar" value="Registrar" />
    </div>

</form>
