<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet " href="/NcDonalds/wwwroot/css/userProfile.css">
    <title>Seu perfil</title>

</head>

<body>

    <section class="inputs">

        <div class="field">
            <label for="nome">Nome</label>
            <input id="nome" name="nome" type="text">
        </div>

        <div class="field">
            <label for="telefone">Telefone</label>
            <input id="telefone" name="telefone" type="tel">
        </div>

        <div class="field">
            <label for="email">E-mail</label>
            <input id="email" name="email" type="email">
        </div>

        <div class="field">
            <label for="senha">Senha</label>
            <input id="senha" name="senha" type="password">
        </div>

        <a href="/" class="botao-editar"><b> editar </b></a>

    </section>

</body>

</html>