@model LancheListViewModel

@{
    ViewData["Title"] = "Lanches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section bootstrap{

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
}

<p>
    <h2> @Model.CategoriaAtual </h2>
</p>


@foreach (var lanche in Model.Lanches)
{
    @await Html.PartialAsync("_LancheResumo", lanche);

}