@model LancheListViewModel

@{
    ViewData["Title"] = "Lanches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section bootstrap{

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
}


<h2 class="title-lanches"> @Model.CategoriaAtual </h2>


@foreach (var lanche in Model.Lanches)
{
    if (Model.Count % 2 == 0)
    {
        @await Html.PartialAsync("_LancheResumo", lanche);
    }
    else
    {
        @await Html.PartialAsync("_LancheResumoTwo", lanche);
    }

    Model.Count++;
}

