@model LancheListViewModel

@{
    ViewData["Title"] = "Lanches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="nav-principal">
    <ul class="container-row">

        @foreach (var categoria in Model.Categorias)
        {
            <li>
                <a asp-area="" asp-controller="Lanche" asp-action="List" asp-route-categoria="@categoria.Nome">@categoria.Nome</a>
            </li>
        }
    </ul>
</nav>

<h2 class="title-lanches"> @Model.CategoriaAtual </h2>

@if (Model.Lanches.Count() > 0)
{
    foreach (var lanche in Model.Lanches)
    {
        if (lanche.EmEstoque)
        {
            @await Html.PartialAsync("_LancheResumo", lanche);
        }
    }
}
else
{
    <h2 class="title-lanches"> Nenhum lanche encontrado </h2>
}



