@model Categoria


@{
    ViewData["Title"] = "Create";
}

<div>

    <h1 class="title-content">Criar Categoria</h1>


    <div class="container-row">

        <section class="section-container">
            <img class="img-action" src="/images/creating.svg" alt="mulher bebendo suquinho">
        </section>


        <form asp-area="Admin" asp-controller="AdminCategoria" asp-action="Create" method="post" class="inputs" role="form">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="field">
                <label asp-for="Nome" class=""></label>
                <input asp-for="Nome" class="" />
                <span asp-validation-for="Nome" class=""></span>
            </div>

            <div class="field">
                <label asp-for="Descricao"></label>
                <input asp-for="Descricao" />
                <span asp-validation-for="Descricao"></span>
            </div>

            <div class="submit-input">
                <input type="submit" class="botao-cadastrar" value="Criar" />
            </div>

        </form>

    </div>

</div>


