@model Categoria

@{
    ViewData["Title"] = "Delete";
}


<div class="lanche-action">

    <h3>Desejá realmente retirar <span> @Model.Nome  </span> do estoque? </h3>


    <div class="container-row">

        <section class="section-container">
            <img class="" src="/images/remover-2.svg" alt="mulher bebendo suquinho">
        </section>

        <section>

            <div class="lanche-remove">

                <p>@Model.Nome</p>
                <img src="@Model.Descricao" />

            </div>

            <form asp-action="Delete" class="field">
                <input type="hidden" asp-for="CategoriaId" />
                <input type="submit" value="Tirar do estoque" class="" /> |
                <a asp-action="Index">Voltar para Categorias</a>
            </form>

        </section>



    </div>


</div>

