@model CheckoutViewModel

@{
    ViewData["Title"] = "Pedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Checkout</h1>

<div class="form-entrega">

    <h2> Tipo de entrega </h2>

    <div class="form-check">
        <input onclick="getUserEndereco()" asp-for="tipoEntrega" class="form-check-input entrega-type" type="radio" name="tipoEntrega" id="flexRadioDefault1" value="Entrega">
        <label asp-for="tipoEntrega" class="form-check-label" id=""> Entrega </label>
    </div>



    <div class="form-check">
        <input asp-for="tipoEntrega" class="form-check-input" type="radio" name="tipoEntrega" id="flexRadioDefault1" value="Retirar no local">
        <label asp-for="tipoEntrega" class="form-check-label" onclick="getEnderecos()"> Retirada </label>
    </div>

</div>

<div id="form-entrega" style="display:none">

    @foreach (var endereco in Model.enderecos)
    {
        <button > @endereco.Detalhe </button>
    }

</div>

<div style="margin-top: 300px">
    <div class="field">

        <label class="">Cupom</label>
        <input id="codigo-cupom" asp-for="cupom.CodigoCupom" class="" />
        <span asp-validation-for="cupom.CodigoCupom" class=""></span>

    </div>

    <div class="submit-input">
        <input type="submit" class="botao-cadastrar" value="Validar Cupom" onclick="validarCupom(@Model.cupom.CodigoCupom)" />
    </div>
</div>



<form method="post" role="form" class="">

    <input type="hidden" asp-for="cupom" />

    <div class="form-pagamento">

        <h2> Forma de Pagamento </h2>

        <div class="form-check">
            <input asp-for="formaPagamento" class="form-check-input" name="formaPagamento" type="radio" id="flexRadioDefault1" value="Dinheiro">
            <label asp-for="formaPagamento" class="form-check-label">Dinheiro</label>
        </div>

        <div class="form-check">
            <input asp-for="formaPagamento" class="form-check-input" name="formaPagamento" type="radio" id="flexRadioDefault1" value="Cartão">
            <label asp-for="formaPagamento" class="form-check-label">Cartão</label>
        </div>

        <span asp-validation-for="tipoEntrega"></span>
    </div>

    <div class="submit-input">
        <input type="submit" class="botao-cadastrar" value="Registrar" />
    </div>

</form>



