
@{ 
    ViewData["Title"] = "Contato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-row container-contato">

    <section>
        <img class="contato-img" src="/images/contato.svg" alt="dois atendentes">
    </section>

    <section class="redes">
        <div class="titulo">
            Queremos ouvir o que você tem a dizer!
        </div>

        <div class="opcao">
            <img src="/images/facebook.png" alt="facebook">
            <a href="facebook.com/NcDonalds"> facebook.com/NcDonalds </a>
        </div>

        <div class="opcao">
            <img src="/images/instagram.png" alt="instagram">
            <a href="instagram.com/Ncdonalds"> instagram.com/NcDonalds </a>
        </div>

        <div class="opcao">
            <img src="/images/email.png" alt="email">
            <a href="mailto:contato@ncdonalds.com">contato@ncdonalds.com</a>
        </div>

        <div class="opcao">
            <img src="/images/phone.png" alt="telefone">
            <a href="tel:+558140028922">+55 (81) 4002- 8922</a>
        </div>
    </section>

</div>

