<section class="containerr">

    <div class="container">
        <img src="~/media/logo1.png" alt="logo do site NcDonalds" id="imgpos" />
        <img src="~/media/Group.png" alt="lanches do NcDonalds" id="imgposicionada" />
    </div>
    
    <p>Teste</p>
   
</section>
