<section>

    <div class="container-row">
        <img src="~/images/Group.png" class="container-row img-home" />
    </div>


    <div class="img-graund content">

        <div class="container-content">

            <div class="container-row">

                <div class="img-home">
                    <img src="https://ncdonalds.blob.core.windows.net/images-webdesign/images_webdesign-girlaboutus.png" />
                </div>

                <div class="container-column content-home">
                    <h3 class="title"> Quem Somos </h3>

                    <p class="text">
                        Líder no segmento de serviço rápido de alimentação, o NcDonald's se destaca pela qualidade dos produtos e do atendimento. O NcDonald's é a maior e mais conhecida empresa de serviço rápido de alimentação do mundo.  No Brasil, a rede é operada desde 2007 pela Arcos Dourados, máster franqueada da marca NcDonald's em toda a América Latina.
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div class="content">
        <div class="container-content">

            <div class="container-row">

                <div class="container-column content-home">
                    <h3 class="title"> Quem Somos </h3>
                    <p class="text">
                        O primeiro restaurante do Brasil foi inaugurado em 1979, em Copacabana, Rio de Janeiro. Uma das melhores empresas para trabalhar no Brasil e um dos maiores empregadores de jovens do país, o NcDonald’s reforça seu compromisso com a segurança e a saúde do trabalhador e anuncia o apoio ao movimento Abril Verde, iniciativa que ressalta a discussão sobre a segurança e a saúde no ambiente de trabalho.
                    </p>
                </div>

                <div class="img-home">
                    <img src="https://ncdonalds.blob.core.windows.net/images-webdesign/images_webdesign-girlaboutus.png" />
                </div>

            </div>

        </div>
    </div>

</section>
