
<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NcDonalds</title>
    <partial name="Account/_Stylus" />
    <link rel="shortcut icon" href="~/images/Logo.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap" rel="stylesheet">
</head>
<body>

    <header class="container-header">
        <a asp-controller="Home" asp-action="Index">
            <img src="/images/Logo.png" class="img-header">
        </a>
        <div class="login">
            @RenderSection("navMessage", required: true)
        </div>
    </header>

    <main class="container-row ">
        @RenderBody()
    </main>

    <footer>
        <div class="container">
            &copy; 2021 - NcDonald’s
        </div>
    </footer>

    <partial name="Account/_Scripts" />

</body>
</html>
