

/*Configuration for Account */

:root {
    --vermelho: #E92438;
    --preto: #141414;
    --branco: #FFFFFF;
    --amarelo: #F1B104;
      font: 'Montserrat';
}

.img-header {
    width: 100px;
}

.container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 1.3rem;
    width: 95%;
    margin: 0 auto;
}


.burguer {
    margin-top: -50px;
    margin-left: 30px;
    margin-bottom: -40px;
    width: 80%;
}

h1 {
    margin-bottom:30px;
}

.container-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login-button {
    padding: 15px 20px;
    border-radius: 999px;
    background-color: transparent;
    border: 4px solid var(--branco);
    color: var(--branco);
}


.img-mulher {
    margin-top: -50px;
    margin-left: 30px;
    margin-bottom: -40px;
    width: 90%;
}

img.burger {
    width: 500px;
}

.inputs {
    width: 50%;
    display: block;
}

    .inputs label {
        display: inherit;
        justify-self: flex-start;
        color: var(--branco);
    }

    .inputs input {
        color: var(--preto);
        width: 100%;
        border-radius: 10px;
        padding: 15px;
        border-width: 0px;
        margin-bottom: 20px;
    }

.inputs span{
    color: black;
}

.field {
    width: 55%;
}

.section-container {
    width: 50%;
    margin: 0 auto;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.botao {
    width: 100px;
    
}

.botao-entrar, .botao-cadastrar {
    padding: 12px 20px;
    border-radius: 999px;
    background-color: var(--amarelo);
    border: 3px solid var(--amarelo);
    color: var(--preto);
    cursor: pointer;
    transition: 1s;
    font-weight: 600;
}

.submit-input {
    width: 15%
}

.title-account{
    font-size: 1.5rem;
    font-weight: 400;
}

