

/*Configuration for Account */

:root {
    --vermelho: #E92438;
    --preto: #141414;
    --branco: #FFFFFF;
    --amarelo: #F1B104;
}

.img-header {
    width: 120px;
}


.container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 1.3rem;

    width: 95%;
    margin: 0 auto;
}


.burguer {
    margin-top: -50px;
    margin-left: 30px;
    margin-bottom: -40px;
    width: 80%;
}

.container-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login-button {
    padding: 15px 20px;
    border-radius: 999px;
    background-color: transparent;
    border: 4px solid var(--branco);
    color: var(--branco);
}


.img-mulher, .img-login {
    margin-top: -50px;
    margin-left: 30px;
    margin-bottom: -40px;
    width: 80%;
}


.inputs {
    width: 50%;
    display: block;
}

    .inputs label {
        display: inherit;
        justify-self: flex-start;
        color: var(--branco);
    }

    .inputs input {
        color: var(--preto);
        width: 100%;
        border-radius: 999px;
        padding: 15px;
        border-width: 0px;
        margin-bottom: 10px;
    }


.field {
    width: 50%;
}

section {
    width: 50%;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.botao-entrar, .botao-cadastrar {
    padding: 12px 20px;
    border-radius: 999px;
    background-color: var(--amarelo);
    border: 3px solid var(--amarelo);
    color: var(--preto);
}

.submit-input {
    width: 15%
}


