:root {
    --vermelho: #E92438;
    --preto: #141414;
    --branco: #FFFFFF;
    --amarelo: #F1B104;
}

ul.quadrado {
    columns: 2;
    width: 500px;
    margin: 0 auto;
}

li.quadrado {
    padding: 22px;
}

a.text-dark{
    border: 1px solid var(--vermelho);
    padding: 10px;
}

/* Lanche Index */
.content-admin {
    width: 80%;
    margin: 0 auto;
}

.header-content {
    margin-bottom: 90px;
}

    .header-content h2 {
        text-align: center;
        font-size: 1.90rem;
        font-weight: 200;
        margin-bottom: 80px;
    }

.header-form {
    text-align: left;
    width: 100%;
    margin-bottom: 30px;
}

.body-form {
    margin-bottom: 30px;
}


.form-admin .container-row {
    align-items: start;
}

.form-admin thead{
    font-size: 1.5rem
}

.form-admin thead th{
    font-weight: 300;
}

.content-admin .login-button {
    background-color: var(--amarelo);
    border-color: var(--amarelo);
    margin-left: 0;
}

.content-form-1 {
    width: 10%;
}

.content-form-2 {
    width: 20%;
}

.content-form-3 {
    width: 30%;
}

.content-form-4 {
    width: 40%;
}

.content-form {
    width: 90%;
}

.body-form tr {
    margin-bottom: 70px;
}



.icons-form {
    justify-content: flex-end;
}

    .icons-form a {
        margin-left: 10px;
    }

/* Lanche */
.title-content {
    text-align: center;
    width: 50%;
    margin: 30px auto 70px;
    font-weight: 300;
}

.img-action {
    margin-left: 30px;
    margin-bottom: -40px;
    width: 80%;
}


/* Admin Home */

.home-admin {
    width: 80%;
    margin: auto;
}

    .home-admin section {
        width: 50%;
    }

    .home-admin .content {
        display: flex
    }

.nav-admin {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}

    .nav-admin a, .button-admin {
        width: 400px;
        margin-bottom: 20px;
        padding: 15px 20px;
        border: 2px solid var(--branco);
        color: var(--branco);
        background-color: transparent;
        font-size: 1.3rem;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        transition: .5s;
    }

        .nav-admin a:hover, .button-admin:hover {
            background: var(--amarelo);
            border-color: transparent;
            color: var(--preto);
        }

.button-admin {
    text-transform: capitalize;
}



.form-admin .button-admin:hover {
    background-color: limegreen;
    color: var(--branco);
}


