
/* default */

:root {
    --vermelho: #E92438;
    --preto: #141414;
    --branco: #FFFFFF;
    --amarelo: #F1B104;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

    *:focus {
        outline: 0 !important;
    }

    img {
        border-radius: 8px;
    }

html,
body {
    height: 100%
}

body {
    line-height: 1.43 !important;
    background: var(--vermelho);
    -webkit-font-smoothing: antialiased;
    font-family: 'Montserrat';
    color: var(--branco);
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

ul {
    list-style: none;
}

button, a:hover{
    cursor: pointer;
    color:black;
    transition: 1s;
}

/* Geral */

.container-row {
    display: flex;
    flex-direction: row;
}

.container-column {
    display: flex;
    flex-direction: column;
}

/* Header */

.container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 1.3rem;
    width: 95%;
    margin: 0 auto;
}

.img-header {
    width: 120px;
}

/* Header Nav */

header ul {
    align-items: center;
}

.nav-principal li {
    margin-left: 30px;
}

    .nav-principal ul li a {
        margin-right: 15px;
        font-family: 'Montserrat';
        text-decoration: none;
        color: var(--branco);
        font-size: 1.35rem;
        transition: 0.3s;
    }

        .nav-principal ul li a:hover {
            color: #AAA;
        }

.header-profile {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
}


.img-profile {
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
    width: 100%;
    position: relative;
}

.carrinho-icon {
    margin-right: 30px;
}

.login-button {
    margin-left: 20px;
    padding: 15px 20px;
    border-radius: 999px;
    background-color: transparent;
    border: 4px solid var(--branco);
    color: var(--branco);
}

.dropdown-nav-header{
    background: none;
    color: var(--branco);
    border: none;
}



/* Main */
.img-home {
    margin: 60px 15px 100px auto;
}

.container-content {
    width: 90%;
    margin: 0 auto;
}

.text, .title {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    text-align: justify;
    color: #FFFFFF;
}

.title {
    margin-bottom: 40px;
}

.content-home {
    margin: 30px 25px 0px 25px;
    align-items: center;
}

.img-graund {
    background: linear-gradient(rgba(0,0,0,.80),rgba(0,0,0,.80) 100%),url(/images/lanchesCapa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}


/* Footer */
footer {
    padding: 20px;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #ffffff;

    margin-top: 30px;
}
