
/* Configuration default */

:root {
    --vermelho: #E92438;
    --preto: #141414;
    --branco: #FFFFFF;
    --amarelo: #F1B104;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

    *:focus {
        outline: 0 !important;
    }

html,
body {
    height: 100%
}

body {
    line-height: 1.43 !important;
    background: var(--vermelho);
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none !important;
}

p {
    margin-bottom: 0rem;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

.nav-principal ul {
    display: flex;
    align-items: center;
}

    .nav-principal ul li {
        margin-left: 25px;
    }

        .nav-principal ul li a{
            font-family: 'Montserrat';
            text-decoration: none;
            color: #FFFFFF;
            font-size: 1.35rem;
        }

