:root {
    --vermelho: #E92438;
    --preto: #141414;
    --branco: #FFFFFF;
    --amarelo: #F1B104;
}

.inputs input {
    color: var(--preto);
    width: 100%;
    border-radius: 999px;
    padding: 15px;
    border-width: 0px;
    margin-bottom: 10px;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botao-editar {
    padding: 10px 20px;
    border-radius: 999px;
    background-color: var(--amarelo);
    border: 3px solid var(--amarelo);
    color: white;
}