<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NcDonalds</title>
    <link rel="shortcut icon" href="~/images/Logo.png" />
    <partial name="_Stylus" />
    <partial name="_Fonts" />

</head>
<body>
    <header>
        <div class="container-header">
            <nav class="nav-principal">
                <ul class="container-row">
                    <a asp-controller="Home" asp-action="Index">
                        <img src="/images/Logo.png" class="img-header">
                    </a>
                   
                    <li>
                        <a asp-controller="Home" asp-action="Index">Início</a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="Contato">Contato</a>
                    </li>
                    <li>
                        <a asp-controller="Lanche" asp-action="List">Cardápio</a>
                    </li>

                    @if (User.IsInRole("Admin"))
                    {
                        <li>
                            <a asp-area="Admin" asp-controller="Admin" asp-action="Index">Admin</a>
                        </li>
                    }


                </ul>
            </nav>

            <nav class="nav-secundaria">
                <ul class="container-row">
                    <li class="carrinho-icon">
                        @await Component.InvokeAsync("CarrinhoCompraResumo")
                    </li>

                    @await Html.PartialAsync("_LoginPartial")
                </ul>
            </nav>

        </div>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        <div class="container">
            &copy; 2021 - NcDonald’s
        </div>
    </footer>

    <partial name="_Scripts" />
    @RenderSection("Scripts", required: false)

</body>
</html>
