<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NcDonalds</title>

    <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> -->
    <!-- <link rel="stylesheet" href="~/css/site.css" /> -->
    <!--Account CSS -->
    <link rel="stylesheet" href="~/css/Account/register.css" />
    <link rel="stylesheet" href="~/css/Account/login.css" />

    <!-- Stylus -->
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">


</head>
<body>
    <header>
        <a href="/">
            <img src="~/media/logo1.png" width="100px">
        </a>
        <div class="login">
            <span>Já tem uma conta?</span>
            <a href="/" class="login-button">Faça login</a>
        </div>
    </header>
    <div class="">
        <main role="" class="">
            @RenderBody()
        </main>
    </div>

    <footer>
        <p>Copyright © NcDonald’s 2021</p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
