<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NcDonalds</title>

    <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> -->
    <!-- <link rel="stylesheet" href="~/css/site.css" /> -->
    <!--Account CSS -->
    <link rel="stylesheet" href="~/css/Account/register.css" />
    <link rel="stylesheet" href="~/css/Account/login.css" />

    <!-- Stylus -->
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet "href="~/css/contato.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class="container-header">

            <a asp-controller="Home" asp-action="Index">
                <img src="/images/Logo.png" class="img-header">
            </a>
            <nav class="nav-principal">
                <ul>
                    <li>
                        <a asp-controller="Home" asp-action="Index">Ínicio</a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="Contato">Contato</a>
                    </li>
                    <li>
                        <a asp-controller="Lanche" asp-action="List">Cardápio</a>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="Login">Login</a>
                    </li>
                </ul>
            </nav>

        </div>
    </header>

    <div class="">
        <main role="" class="">
            @RenderBody()
        </main>
    </div>

    <footer>
        <p>Copyright © NcDonald’s 2021</p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
