@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@inject SignInManager<AppUser> SignInManager


@if (SignInManager.IsSignedIn(User))
{
    <div class="btn-group">
        <a asp-area="" asp-controller="Account" asp-action="Profile" class="header-profile" type="button">
            <img class="img-profile" src="~/images/perfil.jpg" />
        </a>
        <button type="button" class="dropdown-nav-header dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <li><a asp-area="" asp-controller="Account" asp-action="Profile" class="dropdown-item">Perfil</a></li>
            <li><a asp-area="" asp-controller="Account" asp-action="Pedidos" class="dropdown-item">Pedidos</a></li>
            <li><a asp-area="" asp-controller="Account" asp-action="Enderecos" class="dropdown-item">Endereços</a></li>
            <li><a asp-area="" asp-controller="Account" asp-action="Logout" class="dropdown-item">Sair</a></li>

            @if (User.IsInRole("Admin"))
            {
                <li><hr class="dropdown-divider"></li>
                <li><a asp-area="Admin" asp-controller="Admin" asp-action="Index" class="dropdown-item">Admin</a> </li>
                <li><a asp-area="" asp-controller="Home" asp-action="Index" class="dropdown-item">NcDonald's</a> </li>
            }
        </ul>
    </div>
}
else
{
    <li>
        <a class="" asp-controller="Account" asp-action="Login" style="color:white">Já uma conta?</a>
    </li>

    <li>
        <a class="login-button" asp-controller="Account" asp-action="Login">Entrar</a>
    </li>
}
