@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@inject SignInManager<AppUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{


    <li class="header-profile">
        <a asp-area="" asp-controller="Account" asp-action="Logout">
            <img class="img-profile" src="~/images/perfil.jpg" />
        </a>

        <ul class="dropdown-perfil">
            <li class="dropdown-item">
                <a asp-area="" asp-controller="Account" asp-action="Profile"> Perfil </a>
            </li>
            <li class="dropdown-item">
                <a asp-area="" asp-controller="Account" asp-action="Logout"> Sair </a>
            </li>
        </ul>


    </li>

}
else
{
    <li>
        <a class="" asp-controller="Account" asp-action="Login" style="color:white">Já Tem Registro?</a>
    </li>

    <li>
        <a class="login-button" asp-controller="Account" asp-action="Login">Entrar</a>
    </li>
}
