
@{
    ViewData["Title"] = "Index";
}


<div class="home-admin">

    <div class="content">

        <section>
            <img class="img-action" src="https://ncdonalds.blob.core.windows.net/images-webdesign/images_webdesign-food.svg" />
        </section>

        <section>
            <nav class="nav-admin">
                <a asp-area="Admin" asp-controller="AdminLanche" asp-action="Index">Gerenciar Lanches</a>
                <a asp-area="Admin" asp-controller="AdminCategoria" asp-action="Index">Gerenciar Categorias</a>
                <a asp-area="Admin" asp-controller="AdminPedido" asp-action="Index">Gerenciar Pedidos</a>
                <a asp-area="Admin" asp-controller="AdminCupom" asp-action="Index">Gerenciar Cupons</a>
                <a asp-area="" asp-controller="Home" asp-action="Index">Voltar para NcDonalds</a>
            </nav>
        </section>

    </div>
</div>

