
@model Lanche

@{
    ViewData["Title"] = "Create";
}

<div>

    <h1 class="title-content">Criar Lanche</h1>


    <div class="container-row">

        <section class="section-container">
            <img class="img-action" src="~/images/Lanches/food.svg" alt="mulher bebendo suquinho">
        </section>


        <form asp-area="Admin" asp-controller="AdminLanche" asp-action="Create" method="post" class="inputs" role="form">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="field">
                <label asp-for="Nome" class=""></label>
                <input asp-for="Nome" class="" />
                <span asp-validation-for="Nome" class=""></span>
            </div>

            <div class="field">
                <label asp-for="Preco"></label>
                <input asp-for="Preco" />
                <span asp-validation-for="Preco"></span>
            </div>

            <div class="field">
                <label asp-for="DescricaoCurta"></label>
                <input asp-for="DescricaoCurta" />
                <span asp-validation-for="DescricaoCurta"></span>
            </div>

            <div class="field">
                <label asp-for="DescricaoDetalhada"></label>
                <input asp-for="DescricaoDetalhada" />
                <span asp-validation-for="DescricaoDetalhada"></span>
            </div>

            <div class="field">
                <label asp-for="ImagemURL"></label>
                <input asp-for="ImagemURL" />
                <span asp-validation-for="ImagemURL"></span>
            </div>

            <div class="field">
                <input type="hidden" asp-for="EmEstoque" />
            </div>

            <div class="field">
                <label asp-for="CategoriaId" class=""></label>
                <select asp-for="CategoriaId" class="" asp-items="ViewBag.CategoriaId"style="padding: 4px; border-radius: 999px;border-width: 0px;margin-bottom: 10px;">></select>
            </div>

            <div class="submit-input">
                <input type="submit" class="botao-cadastrar" value="Criar" />
            </div>

        </form>

    </div>




</div>


