
@model Lanche

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Create</h1>

<form asp-area="Admin" asp-controller="AdminLanche" asp-action="Create" method="post" class="inputs" role="form">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="field">
        <label asp-for="Nome" class=""></label>
        <input asp-for="Nome" class="" />
        <span asp-validation-for="Nome" class=""></span>
    </div>

    <div class="field">
        <label asp-for="Preco"></label>
        <input asp-for="Preco" />
        <span asp-validation-for="Preco"></span>
    </div>

    <div class="field">
        <label asp-for="DescricaoCurta"></label>
        <input asp-for="DescricaoCurta" />
        <span asp-validation-for="DescricaoCurta"></span>
    </div>

    <div class="field">
        <label asp-for="DescricaoDetalhada"></label>
        <input asp-for="DescricaoDetalhada" />
        <span asp-validation-for="DescricaoDetalhada"></span>
    </div>

    <div class="field">
        <label asp-for="ImagemThumbURL"></label>
        <input asp-for="ImagemThumbURL" />
        <span asp-validation-for="ImagemThumbURL"></span>
    </div>

    <div class="field">
        <label asp-for="ImagemURL"></label>
        <input asp-for="ImagemURL" />
        <span asp-validation-for="ImagemURL"></span>
    </div>

    <div class="field">
        <label asp-for="EmEstoque"></label>
        <input asp-for="EmEstoque" />
        <span asp-validation-for="EmEstoque"></span>
    </div>

    <div class="field">
        <label asp-for="CategoriaId" class=""></label>
        <select asp-for="CategoriaId" class="" asp-items="ViewBag.CategoriaId"></select>
    </div>

    <div class="submit-input">
        <input type="submit" class="botao-cadastrar" value="Criar" />
    </div>

</form>


